<script id="tmpl-ProjectListNav" type="text/html">
  <div class="ProjectListNav">
    <h2>Projects</h2>
    <ul>
      {{#each projects}}
      <li><i class="icon-folder-close"></i>{{title}}</li>
      {{/each}}
    </ul>
  </div>
</script>