
.ProjectScreen header{
  padding: 5px 20px 5px 20px;
}

.ProjectScreen header h2{
  color: #999;
  letter-spacing: .1em;
  margin: 0;
}

.ProjectScreen-taskTable th.check{
  width: 30px;
}

.ProjectScreen-taskTable thead tr{
  background-color: #fff; 
  background-image: -moz-linear-gradient(bottom, #f1f1f1 0%, #fdfdfd 100%);
  background-image: -o-linear-gradient(bottom, #f1f1f1 0%, #fdfdfd 100%);
  background-image: -webkit-linear-gradient(bottom, #f1f1f1 0%, #fdfdfd 100%);
  background-image: linear-gradient(bottom, #f1f1f1 0%, #fdfdfd 100%);
  border-top: solid 1px #eee;
  border-bottom: solid 1px #ddd;
}

.ProjectScreen input[data-prop="title"]{
  border: none;
  display: block;
  border: none;
  width: 80%;  
}

.ProjectScreen .newTask .helper{
  display: none;
  font-size: 11px;
  color: #777;
}

.ProjectScreen .newTask.sel .helper{
  display: block;
}


