# Ignore Mac stuff
.DS_Store

# Ignore the dev folder (which is the space for developer notes and artifacts)
dev/

# Ignore Sublime Stuff
*.sublime-project
*.sublime-workspace

node_modules

# Ignore Custom scripts
britedoc.sh
build.xml

