.DialogPrompt{
	position: absolute;
	top: 100px; left: 100px;
	width: 300px;
	height: 130px;
	background: #333333;
	color: #ffffff;
	border: solid 2px #666666;
}

.DialogPrompt > h2{
	text-align: center; 
	font-size: 18px;
	padding-bottom: 10px;
	border-bottom: solid 1px #777777;
}

.DialogPrompt > p{
	text-align: center; 
	margin: 10px 10px 20px 10px;
}

.DialogPrompt .dialogPrompt-buttonbar{
	text-align: center;
}

.DialogPrompt button{
	color: #333;
}