<script id="tmpl-MainScreen" type="text/html">
  <div class="MainScreen">
    
    <div class="MainScreen-topNav">
      <h2>Task Manager</h2>
    </div>
    
    <div class="MainScreen-left">
      
    </div>
    
    <div class="MainScreen-content">
      
    </div>
  </div>
</script>