<script id="tmpl-MainView" type="text/html">
  <div class="MainView">
    
    <div class="MainView-topNav">
      <h2>TaskManager</h2>
    </div>
    
    <div class="MainView-left">
      
      MainView-left <br /> <small>(ProjectListNav will be add here)</small>
        
    </div>
    
    <div class="MainView-content">

      <div class="MainView-projectViewPanel">
        MainView-projectViewPanel <br /> <small>(ProjectView will be added here)</small>  
      </div>            

    </div>
  </div>
</script>