<script id="tmpl-ProjectView" type="text/html">
  <div class="ProjectView">
      <header>
        <h2>{{project.title}}</h2>
      </header>
      <section class="heading">
        <label>Tasks</label>
      </section>
      <section class="content">      
      </section>
  </div>
</script>

<script id="tmpl-ProjectView-taskList" type="text/html">
  <table class="table">
      {{#each tasks}}
      <tr data-entity="Task" data-entity-id="{{id}}" {{#if done}}class="done"{{/if}}>
        <td class="title">{{title}}</td>
      </tr>
      {{/each}}
  </table>
</script>

