<script id="tmpl-ProjectListNav" type="text/html">
  <div class="ProjectListNav">
    <h2>Projects</h2>
    <div class="list-container">

    </div>
  </div>
</script>

<script id="tmpl-ProjectListNav-list" type="text/html">
  <ul>
    {{for projects}}
    <li data-entity="Project" data-entity-id="{{: id}}">{{: title}}</li>
    {{/for}}
  </ul>  
</script>