.DrawSide{
  position: absolute;
  top: 30px; right: 0;
  width: 80px;
  padding: 10px 5px;
  background: #444;
  border-top: solid 1px #333;
  border-left: solid 1px #333;
  border-bottom: solid 1px #333;  
  
}