.Window{
  position: absolute;
  border: solid 1px #b8b8b8;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  background: #fff;
  -webkit-transform-style: preserve-3d;
  opacity: .6;
  z-index: 100;
  min-width: 400px;
}

.Window-active{
  z-index: 1000;
  opacity: 1;
}


.Window-header{
  position: relative;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#afafaf));
  height: 17px;
  padding: 5px;
  color: #333;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  
}

.Window-header > h2{
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  line-height: 1em;
  letter-spacing: .1em;
  margin-top: -2px;
  margin-left: 25px;
}


.Window-content{
  position: absolute;
  top: 27px; right: 0; bottom: 0; left: 0;
}

.Window-resizeHandle{
  position: absolute;
  right: 0; bottom: 0; 
  width: 32px;
  height: 32px;
}

.Window-resizeHandle i.ico-cornerResize{
  position: absolute;
  bottom: 0; right: 0;
}

.Window-popupScreen{
  position: absolute;
  top: 27px; right: 0; bottom: 0; left: 0;
  overflow: hidden;
  background: rgba(200,200,200,.4);
}  

.Window-popup{
  box-shadow: 0px 1px 3px 1px #888;
}

/* --------- Actions Popup --------- */
.Window-controls{
  position: absolute;
  top: 0px; left: 32px;
  right: 0;
  height: 27px;
  overflow: hidden;
}  

.Window-controls-inner{
  position: absolute;
  top: 0px;
  left: 0px;
  
}
.Window-controls  button{
  display: block;
  float: left;
  margin: 3px 10px 0 0;
}