<script id="tmpl-MainView" type="text/html">
  <div class="MainView">
    <div class="MainView-topNav">
      <img class="app-icon" src="css/images/logo-24.png" /><h2>Task Manager</h2>
    </div>
    <div class="MainView-left">
      
    </div>
    <div class="MainView-content">
      
      <div class="MainView-panels">
        <div class="MainView-panels-inner">
        </div>  
      </div>
      <i class="MainView-prev"></i>
      <i class="MainView-next"></i>
    </div>
  </div>
</script>