<script id="tmpl-MainView" type="text/html">
  <div class="MainView">
    <div class="MainView-topNav">
      <h2>Task Manager</h2>
    </div>
    <div class="MainView-left">
      
    </div>
    <div class="MainView-content">
      
    </div>
  </div>
</script>