<script id="tmpl-ProjectListNav" type="text/html">
  <div class="ProjectListNav">
    <h2>Projects</h2>
    <ul>
      {{for projects}}
      <li data-entity="Project" data-entity-id="{{: id}}"><i class="icon-folder-close"></i>{{: title}}</li>
      {{/for}}
    </ul>
  </div>
</script>