<script id="tmpl-Info" type="text/html">
    <div class="Info">
      <div class="Info-page">
        <h1>Welcome to Brite Demo Apps</h1>
        <p>Simple demo of a multi-windowing system in HTML5.</p>
      </div>
    </div>
</script>