<script id="tmpl-Window" type="text/html">
  <div class="Window">
    <div class="Window-header">
      <i class="ico-window"></i>
      <h2>{{if header}}{{:header}}{{else}}{{/if}}</h2>
    </div>
    <div class="Window-content">
    </div>
    <div class="Window-resizeHandle"><i class="ico-cornerResize"></i>
    </div>
  </div>
</script>

<script id="tmpl-Window-controls" type="text/html">
  <div class="Window-controls">
    <div class="Window-controls-inner">
      <button class="btn btn-mini btn-danger" data-action="close"><i class="icon-remove  icon-white"></i>Close</button>
      {{if maximized}}
      <button class="btn btn-mini btn-success" data-action="restore"><i class="icon-resize-small  icon-white"></i>Restore</button>      
      {{else}}
      <button class="btn btn-mini btn-success" data-action="maximize"><i class="icon-resize-full  icon-white"></i>Maximize</button>
      {{/if}}
      
      <button class="btn btn-mini btn-info" data-action="settings"><span class="icon-cog  icon-white"></span>Settings</button>      
    </div>
  </div>
</script>