<script id="tmpl-DialogPrompt" type="text/html">
    <div class="DialogPrompt">
        <h2>${title}</h2>
        <p>${prompt}</p>
        <div class="dialogPrompt-buttonbar">
            <button class="cancel">Cancel</button>
            <button class="ok">OK</button>
        </div>
    </div>
</script>
