<!-- template for the hello component -->
<!-- The convention is to use id = tmpl-[ComponentName]. 
	 Important to follow this convention to avoid collision and leverage Brite auto check (when config.checkTemplate = true) --> 
<script id="tmpl-HelloComponent" type="text/html">
<div style='position:absolute'>Hello... ${name} (${count})</div>
</script>
