<script id="tmpl-DrawSide" type="text/html">
<div class="DrawSide">
  
  <div class="Draw-panel">
    <button class="btn btn-small" style="width:100%" data-action="save">Save</button>
  </div>
  
  
</div>
</script>