<script id="tmpl-DrawLayersPanel" type="text/html">
<div class="DrawLayersPanel Draw-panel">
</div>
</script>

<script id="tmpl-DrawLayersPanel-layers" type="text/html">
<div class="DrawLayersPanel-layers">
  {{for layers}}
  <div class="DrawLayersPanel-layer">
    <label>{{:name}}</label>
  </div>
  {{/for}}
</div>
</script>
