<script id="tmpl-DrawToolbar" type="text/html">
  <div class="DrawToolbar">
    {{for tools}}
    <div class="DrawToolbar-tool" data-tool="{{:#data}}"><i class="Draw-ico-{{:#data}}"></i></div>
    {{/for}}
  </div>
</script>