<script id="tmpl-Info" type="text/html">
    <div class="Info">
      <div class="Info-page">
        <h1>Welcome to Brite Demo Apps</h1>
        <p>This demo is a showcase of what developers can build by using HTML5 technology the [b]right way</p>
        <a class="btn">Button one</a>
      </div>
    </div>
</script>