<script id="tmpl-Window" type="text/html">
  <div class="Window">
    <div class="Window-header">
      <i class="ico-window"></i>
      <h2>{{if header}}{{:header}}{{else}}{{/if}}</h2>
    </div>
    <div class="Window-content">
      content
    </div>
    <div class="Window-resizeHandle">
    </div>
  </div>
</script>