<script id="tmpl-Window" type="text/html">
  <div class="Window">
    <div class="Window-header">
      <i class="ico-window"></i>
      <h2>{{if header}}{{:header}}{{else}}{{/if}}</h2>
    </div>
    <div class="Window-content">
    </div>
    <div class="Window-resizeHandle"><i class="ico-cornerResize"></i>
    </div>
  </div>
</script>

<script id="tmpl-Window-actionsPopup" type="text/html">
  <div class="Window-popupScreen">
    <div class="Window-actionsPopup Window-popup">
      <button class="btn  btn-info" data-action="settings"><i class="icon-cog  icon-white"></i>Settings</button>
      <button class="btn btn-success" data-action="maximize"><i class="icon-resize-full  icon-white"></i>Maximize</button>
      <button class="btn btn-danger" data-action="close"><i class="icon-remove  icon-white"></i>Close</button>
      <i class="Window-closePopup icon-remove  icon-white"></i>
    </div>
  </div>
</script>