*{
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

i{
  -webkit-user-select: none;                /* disable text select on icons */
}

header, section{
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
}

#pageBody{
  width: 100%;
  height: 100%;
}

