.ProjectView{
  position: absolute;
  top: 10px; right: 10px; bottom: 10px; left: 10px;
  -webkit-perspective: 10000px;
}
.ProjectView .card{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
}

.ProjectView .card-face{
  opacity: .999; /* hack to allow position: relative or absolute in the card-face */
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
   border: solid 1px #ababab;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.5);
  box-shadow: 1px 2px 5px rgba(0,0,0,.5);   
  background-color: #fff;     
}

.ProjectView .card-front{
  
}

.ProjectView .card-back{
  -webkit-transform: rotateY( -180deg );
}

.ProjectView .card.flipped {
  -webkit-transform: rotateY( 180deg );
}

.ProjectView header{
  position: relative;
  padding: 0;
  height: 35px;
  background-image: -moz-linear-gradient(bottom, #afafaf 0%, #fff 100%);
  background-image: -o-linear-gradient(bottom, #afafaf 0%, #fff 100%);
  background-image: -webkit-linear-gradient(bottom, #afafaf 0%, #fff 100%);
  background-image: linear-gradient(bottom, #afafaf 0%, #fff 100%);
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;  
}

.ProjectView section.content{
  position: absolute;
  top: 35px; right: 0; bottom: 0; left: 0;
}

.ProjectView section.content.withPadding{
  padding: 10px;
}

.ProjectView .header-fav, .ProjectView .header-setting{
  position: absolute;
  top: 5px; 
  width: 32px;
  height: 35px;
}

.ProjectView .header-fav{
  left: 5px;
}

.ProjectView .header-setting{
  right: 0px;
}

.ProjectView header h2{
  color: #666;
  letter-spacing: .2em;
  text-shadow: #fff 0px 1px 0;
  line-height: normal;
  font-weight: bold;
  margin: 0;
  padding: 7px 0 0 0;
  font-size: 18px;
  text-align: center;
}

.ProjectView header input{
  border: none;
  color: #999;
  font-size: 23px;
  font-weight: bold;
  width: 300px;
  margin-top: 6px;
  margin-left: -5px;
  letter-spacing: .1em;
}

.ProjectView header .helper{
  display: inline;
  margin-left: 10px;
}

.ProjectView .table{
  margin: 0;
}


.ProjectView .table-header{
  position: absolute;
  top: 0px; right: 0; left: 0; 
  margin: 0;
  height: 40px;
}

.ProjectView .table-content{
  position: absolute;
  top: 37px; right: 0; bottom: 0px; left: 0; 
  overflow: auto;
}

.ProjectView-taskTable th.check,.ProjectView-taskTable td.check{
  width: 15px;
}

.ProjectView td.check i{
  display: none;
}


.ProjectView .table-header .del{
  position: absolute;
  top: 10px; right: 10px;
  opacity: .5;
}

.ProjectView .table-header .del:hover{
  opacity: 1;
}

/* --- delete controls --- */
.delete-controls{
  position: absolute;
  top: 5px; right: 0px;
  width: 200px;
}
.delete-controls-inner{
  position: absolute;
  width: 200px;
  height: 36px;
  top: 0; left: 200px;
  -webkit-transition: all .3s ease;
}

.delete-controls-inner.show{
  -webkit-transform: translate(-140px,0px);
}
/* --- /delete controls --- */


/* --- deleteMode --- */
.ProjectView .table-content.deleteMode tr.to-delete{
    background-color: #ffdddd;
}

.ProjectView .table-content.deleteMode .newTask{
  display: none;
}

.ProjectView .table-content.deleteMode td{
  cursor: ponter;
} 

.ProjectView .table-content.deleteMode input{
  cursor: pointer;
}

.ProjectView .table-content.deleteMode td.check i{
  display: block;
  margin-top: 5px;
  cursor: pointer;
}

.ProjectView .table-content.deleteMode td.check input{
  display: none;
}
/* --- /deleteMode --- */


.ProjectView-taskTable thead tr{
  background-color: #fff; 
  background-image: -moz-linear-gradient(bottom, #f1f1f1 0%, #fdfdfd 100%);
  background-image: -o-linear-gradient(bottom, #f1f1f1 0%, #fdfdfd 100%);
  background-image: -webkit-linear-gradient(bottom, #f1f1f1 0%, #fdfdfd 100%);
  background-image: linear-gradient(bottom, #f1f1f1 0%, #fdfdfd 100%);
  border-top: solid 1px #eee;
  border-bottom: solid 1px #ddd;
}

.ProjectView input[data-prop="title"]{
  border: none;
  display: block;
  border: none;
  width: 80%;  
  background: none;
}

.ProjectView tr.done{
  background: #99ff99;
  opacity: .2;
}

.ProjectView  .helper{
  display: block;
  font-size: 11px;
  color: #777;
}


