.ProjectScreen {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border: dashed 1px green; /* for layout debug */
}
.ProjectScreen header{
  padding: 5px 20px 5px 20px;
  height: 60px;
}

.ProjectScreen header h2{
  color: #999;
  letter-spacing: .1em;
  margin: 0;
  font-size: 23px;
}








