<script id="tmpl-ProjectScreen" type="text/html">
  <div class="ProjectScreen">
    <header>
      <h2>Project Name</h2>
    </header>
    <section>

      <div class="table-container">
        {{for #data tmpl="#tmpl-ProjectScreen-taskTable" /}}
      </div>
    </section>
  </div>
</script>


<script id="tmpl-ProjectScreen-taskTable" type="text/html">
  <div class="ProjectScreen-taskTable">
    <table class="table">
      <thead>
        <tr>
          <th class="check"></th>
          <th class="title">Title</th>
        </tr>
      </thead>
      <tbody>
        {{for tasks}}
        <tr data-obj_type="Task" data-obj_id="{{:id}}">
          <td class="check"><input data-prop="done" type="checkbox" {{if done}}checked="checked"{{/if}}/></td>
          <td class="title"><input data-prop="title" value="{{:title}}" /></td>
        </tr>
        {{/for}}
        
        <tr class="newTask">
          <td class="check"></td>
          <td class="title">
            <input data-prop="title" placeholder="Enter new task" type="input" />
            <small class="helper">Press [ENTER] to create, or [ESC] to cancel.</small>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</script>